$font: 'Open Sans', sans-serif;
.navbar-brand img{
	width: 120px;
	height: 38.1px;
}
.navbar {
	background: transparent; 
	border-color: rgba(0,145,221,0);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 11;
    top: 0;
    .hidden-sm{
        &>li{
        &:hover>ul{
            opacity: 1;
            visibility: visible;
            border-radius: 8px !important;
        }
        &>ul{
            opacity: 0;
            visibility: hidden;
            margin: 0;
            position: absolute;
            top: 100%;
            width: 240px;
            padding-top: 0;
            padding-left: 0;
            box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
            &::before{
                position: absolute;
                left: 60px;
                top: -4px;
                width: 20px;
                height: 20px;
                background: #ffffff;
                content: "";
                background: #ffffff;
                
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
                
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                -ms-border-radius: 3px;
                -o-border-radius: 3px;
                border-radius: 3px;
            }
            & li{
                float: left;
                width: 100%;
                background: #ffffff;
                margin: 0;
                position: relative;
                
                
                &>a{
                    float: left;
                    width: 100%;
                    font-family: "Open Sans", sans-serif;
                    font-size: 13px;
                    color: #202020;
                    padding: 9px 25px;
                    &:hover{
                        color:#ee2a6b;
                      
                    }
                    &:active{
                        color: #000;
                    }
                }
                &:first-child{
                    border-radius: 6px 6px 0px 0px;
                }
                &:last-child{
                    border-radius: 0px 0px 6px 6px;
                }
               
            }
        }
    }
        &> li > a{
            font-family: $font;
            margin-left: 40px;
            font-size: 14px;
            margin-top: 10px;
            margin-bottom: 5px;
            float: right;
            padding-bottom: 15px;
            color: #fff;
            transition: transform 1s;
            height: 50px;
          
            
        }
        & button{
            font-family: $font;
            margin-top: 20px;
            margin-left: 40px;
            border-radius: 23px;
            padding:5px 20px;
            border: 2px solid #ee2a6b;
            color: #fff ;
            background-color: #ee2a6b
        }
    }
    .visible-sm{
        .dropdown{
           & button{
                margin-left: 10px;
                background-color: #0b1b46;
                border: none;
                color: #fff !important;
                font-family: $font;
                font-size: 20px;
                margin-top: 27px;
                &:hover{
                    color: #fff;
                }
                &:active{
                    color: #fff;
                }
            }
        }
        .dropdown-menu{
            width: 300px;
            background-color: #0b1b46 ;
            opacity: 0.8;
            & a{
                color: #96a0bd;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
    .visible-xs{
        margin-bottom: -10px;
        .fa-plus{
            float:right;
            &:hover{
                color: #fff;
            }
        }
        & >li{
            &>a{
                font-family: $font;
                font-size: 14px;
                color: #96a0bd;
                margin-bottom:5px;
                &:hover{
                    color: #fff;
                }
            }
            
        }
        
    
        
    }
    .navbar-right{
        margin-right: 20px;
        &.user{
            position: relative;
            right: 30px;
            & >li{
                color: #fff;
                height: 50px;
               
            }
            & .controllerBar.hidden{
                display:none;
            }
            & .controllerBar{
              position: absolute;
              background-color: #fff;
              width: 150px;
              height: 120px;
              top: 60px;
              right: -15px;
              border-radius: 3px;
              &>div{
                 position: relative;      
                 
                  height: 40px;
                & a{
                    position: absolute;
                    top: 10px;
                    color: black;
                    left: 10px;
                    & span{
                        color: #ee2a6b;
                        margin-left: 7px;
                        font-size: 20px;
                    }
                    &:hover{
                        color: #ee2a6b; 
                    }
                    
                }
            }
            }
        }
        & >li > a{
            margin-top: 15px;
            font-family: $font;
            color: #fff;
            font-size: 14px;
        }
        & button{
            font-family: 'Open Sans', sans-serif;
            margin-top: 20px;
            margin-left: 30px;
            border-radius: 23px;
            padding:5px 20px;
            border: 2px solid #ee2a6b;
            color: #fff ;
            background-color: #ee2a6b;
            &:hover{
                background-color:transparent;
                border: 2px solid #ee2a6b;
                color:#ee2a6b;
            }
        }
    }
}

.navbar-hidden{
	background: linear-gradient(45deg, rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);
	border-color: rgba(139,145,221,0);
	box-shadow:1px 2px 4px rgba(0, 0, 0, 0.3);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-radius: 0;
	margin-bottom: 0;
	position: fixed;
	width: 100%;
	z-index: 11;
    top: 0;
    .hidden-sm{
        &>li{
            &:hover>ul{
                opacity: 1;
                visibility: visible;
                border-radius: 8px !important;
            }
            &>ul{
                opacity: 1;
                visibility: hidden;
                margin: 0;
                position: absolute;
                top: 100%;
                width: 240px;
                padding-top: 0;
                padding-left: 0;
                box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
                &::before{
                    position: absolute;
                    left: 60px;
                    top: -4px;
                    width: 20px;
                    height: 20px;
                    background: #ffffff;
                    content: "";
                    background: #ffffff;
                    
                    -webkit-transform: rotate(-45deg);
                    -moz-transform: rotate(-45deg);
                    -ms-transform: rotate(-45deg);
                    -o-transform: rotate(-45deg);
                    transform: rotate(-45deg);
                    
                    -webkit-border-radius: 3px;
                    -moz-border-radius: 3px;
                    -ms-border-radius: 3px;
                    -o-border-radius: 3px;
                    border-radius: 3px;
                }
                & li{
                    float: left;
                    width: 100%;
                    background: #ffffff;
                    margin: 0;
                    position: relative;                            
                    &>a{
                        float: left;
                        width: 100%;
                        font-family: "Open Sans", sans-serif;
                        font-size: 13px;
                        color: #202020;
                        padding: 9px 25px;
                        &:hover{
                            color:#ee2a6b;
                           
                        
                        }
                    }
                    &:first-child{
                        border-radius: 6px 6px 0px 0px;
                    }
                    &:last-child{
                        border-radius: 0px 0px 6px 6px;
                    }
                   
                }
            }
        }
        & >li{
            &>a{
                font-family: $font;
                margin-left: 40px;
                font-size: 14px;
                margin-top: 10px;
                margin-bottom: 5px;
                float: right;
                padding-bottom: 15px;
                color: black;
                height: 50px;
               
                &:hover{
                    color: #ee2a6b;
                }
                &:visited{
                    color: black;
                }
            }
        }
      
    }
    .visible-sm{
        .dropdown{
           & button{
            margin-left: 10px;
            background-color: #0b1b46;
            border: none;
            color: #fff !important;
            font-family: $font;
            font-size: 20px;
            margin-top: 27px;
            &:hover{
                color: #fff;
            }
            &:active{
                color: #fff;
            }
            }
        }
        .dropdown-menu{
            width: 300px;
            background-color: #0b1b46 ;
            opacity: 0.8;
            & a{
                color: #fff;
                &:hover{
                    color: #0b1b46;
                }
            }
        }
    }
    .visible-xs{
        .fa-plus{
            float:right;
        }
        & >li{
            &>a{
                font-family: $font;
                font-size: 14px;
                color: #96a0bd;
                margin-bottom:-10px;
                &:hover{
                    color: #fff;
                }
            }
            
        }
    }
    .navbar-right{
        margin-right: 20px;
        &.user{
            position: relative;
            right: 30px;
            & >li{
                color: #fff;
                height: 50px;
               
            }
            & .controllerBar.hidden{
                display:none;
            }
            & .controllerBar{
              position: absolute;
              background-color: #fff;
              width: 150px;
              height: 120px;
              top: 70px;
              right: -15px;
              border-radius: 3px;
              
              &>div{
                 position: relative;      
                 
                  height: 40px;
                & a{
                    position: absolute;
                    top: 10px;
                    color: black;
                    left: 10px;
                    & span{
                        color: #ee2a6b;
                        margin-left: 7px;
                        font-size: 20px;
                    }
                    &:hover{
                        color: #ee2a6b; 
                    }

                    
                }
            }
            }
        }
        & button{
            font-family: $font;
            margin-top: 20px;
            margin-left: 30px;
            border-radius: 23px;
            padding:5px 20px;
            border: 2px solid #ee2a6b;
            color: #ee2a6b;
            background: transparent;
            &:hover{
                background-color:#ee2a6b;
                color:#fff;
            }
        }
        &>li{
            &>a{
                margin-top: 10px;
                font-family: $font;
                color: black;
                font-size: 14px;
                &:hover{
                    color:#ee2a6b;
                }
                &:visited{
                    color: black;
                }
            }
        }

    }
}
@media screen and (max-width: 1200px) {
	
	.navbar, .navbar-hidden{
        background-color: #0b1b46;
		border: none;
        .navbar-right{
           &.user{
               &>li>a{
                   margin-top: 0 !important;
                   margin-left: 30px !important;
                   
               }
           }
            &>li>a{
                margin-top: 10px;
                font-family: 'Open Sans', sans-serif;
                color: #96a0bd;
                font-size: 14px;
                &:hover{
                    color: #fff;
                }
            }
            & button{
                font-family: 'Open Sans', sans-serif;
                margin-top: 17px;
                margin-left: 10px;
                border-radius: 23px;
                padding:5px 20px;
                border: 2px solid #ee2a6b;
                color: #fff ;
                background-color: #ee2a6b;
                position:relative;
            }
        }
        
    }
	
}
