.navbar-brand img {
  width: 120px;
  height: 38.1px; }

.navbar {
  background: transparent;
  border-color: rgba(0, 145, 221, 0);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0; }
  .navbar .hidden-sm > li:hover > ul {
    opacity: 1;
    visibility: visible;
    border-radius: 8px !important; }
  .navbar .hidden-sm > li > ul {
    opacity: 0;
    visibility: hidden;
    margin: 0;
    position: absolute;
    top: 100%;
    width: 240px;
    padding-top: 0;
    padding-left: 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); }
    .navbar .hidden-sm > li > ul::before {
      position: absolute;
      left: 60px;
      top: -4px;
      width: 20px;
      height: 20px;
      background: #ffffff;
      content: "";
      background: #ffffff;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
    .navbar .hidden-sm > li > ul li {
      float: left;
      width: 100%;
      background: #ffffff;
      margin: 0;
      position: relative; }
      .navbar .hidden-sm > li > ul li > a {
        float: left;
        width: 100%;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        color: #202020;
        padding: 9px 25px; }
        .navbar .hidden-sm > li > ul li > a:hover {
          color: #ee2a6b; }
        .navbar .hidden-sm > li > ul li > a:active {
          color: #000; }
      .navbar .hidden-sm > li > ul li:first-child {
        border-radius: 6px 6px 0px 0px; }
      .navbar .hidden-sm > li > ul li:last-child {
        border-radius: 0px 0px 6px 6px; }
  .navbar .hidden-sm > li > a {
    font-family: "Open Sans", sans-serif;
    margin-left: 40px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    float: right;
    padding-bottom: 15px;
    color: #fff;
    transition: transform 1s;
    height: 50px; }
  .navbar .hidden-sm button {
    font-family: "Open Sans", sans-serif;
    margin-top: 20px;
    margin-left: 40px;
    border-radius: 23px;
    padding: 5px 20px;
    border: 2px solid #ee2a6b;
    color: #fff;
    background-color: #ee2a6b; }
  .navbar .visible-sm .dropdown button {
    margin-left: 10px;
    background-color: #0b1b46;
    border: none;
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-top: 27px; }
    .navbar .visible-sm .dropdown button:hover {
      color: #fff; }
    .navbar .visible-sm .dropdown button:active {
      color: #fff; }
  .navbar .visible-sm .dropdown-menu {
    width: 300px;
    background-color: #0b1b46;
    opacity: 0.8; }
    .navbar .visible-sm .dropdown-menu a {
      color: #96a0bd; }
      .navbar .visible-sm .dropdown-menu a:hover {
        color: #fff; }
  .navbar .visible-xs {
    margin-bottom: -10px; }
    .navbar .visible-xs .fa-plus {
      float: right; }
      .navbar .visible-xs .fa-plus:hover {
        color: #fff; }
    .navbar .visible-xs > li > a {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #96a0bd;
      margin-bottom: 5px; }
      .navbar .visible-xs > li > a:hover {
        color: #fff; }
  .navbar .navbar-right {
    margin-right: 20px; }
    .navbar .navbar-right.user {
      position: relative;
      right: 30px; }
      .navbar .navbar-right.user > li {
        color: #fff;
        height: 50px; }
      .navbar .navbar-right.user .controllerBar.hidden {
        display: none; }
      .navbar .navbar-right.user .controllerBar {
        position: absolute;
        background-color: #fff;
        width: 150px;
        height: 120px;
        top: 60px;
        right: -15px;
        border-radius: 3px; }
        .navbar .navbar-right.user .controllerBar > div {
          position: relative;
          height: 40px; }
          .navbar .navbar-right.user .controllerBar > div a {
            position: absolute;
            top: 10px;
            color: black;
            left: 10px; }
            .navbar .navbar-right.user .controllerBar > div a span {
              color: #ee2a6b;
              margin-left: 7px;
              font-size: 20px; }
            .navbar .navbar-right.user .controllerBar > div a:hover {
              color: #ee2a6b; }
    .navbar .navbar-right > li > a {
      margin-top: 15px;
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-size: 14px; }
    .navbar .navbar-right button {
      font-family: 'Open Sans', sans-serif;
      margin-top: 20px;
      margin-left: 30px;
      border-radius: 23px;
      padding: 5px 20px;
      border: 2px solid #ee2a6b;
      color: #fff;
      background-color: #ee2a6b; }
      .navbar .navbar-right button:hover {
        background-color: transparent;
        border: 2px solid #ee2a6b;
        color: #ee2a6b; }

.navbar-hidden {
  background: linear-gradient(45deg, rgba(139,145,221,1) 0%,rgba(16,25,93,1) 71%,rgba(16,25,93,1) 100%);
  border-color: rgba(139, 145, 221, 0);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-radius: 0;
  margin-bottom: 0;
  position: fixed;
  width: 100%;
  z-index: 11;
  top: 0; }
  .navbar-hidden .hidden-sm > li:hover > ul {
    opacity: 1;
    visibility: visible;
    border-radius: 8px !important; }
  .navbar-hidden .hidden-sm > li > ul {
    opacity: 1;
    visibility: hidden;
    margin: 0;
    position: absolute;
    top: 100%;
    width: 240px;
    padding-top: 0;
    padding-left: 0;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1); }
    .navbar-hidden .hidden-sm > li > ul::before {
      position: absolute;
      left: 60px;
      top: -4px;
      width: 20px;
      height: 20px;
      background: #ffffff;
      content: "";
      background: #ffffff;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px; }
    .navbar-hidden .hidden-sm > li > ul li {
      float: left;
      width: 100%;
      background: #ffffff;
      margin: 0;
      position: relative; }
      .navbar-hidden .hidden-sm > li > ul li > a {
        float: left;
        width: 100%;
        font-family: "Open Sans", sans-serif;
        font-size: 13px;
        color: #202020;
        padding: 9px 25px; }
        .navbar-hidden .hidden-sm > li > ul li > a:hover {
          color: #ee2a6b; }
      .navbar-hidden .hidden-sm > li > ul li:first-child {
        border-radius: 6px 6px 0px 0px; }
      .navbar-hidden .hidden-sm > li > ul li:last-child {
        border-radius: 0px 0px 6px 6px; }
  .navbar-hidden .hidden-sm > li > a {
    font-family: "Open Sans", sans-serif;
    margin-left: 40px;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 5px;
    float: right;
    padding-bottom: 15px;
    color: black;
    height: 50px; }
    .navbar-hidden .hidden-sm > li > a:hover {
      color: #ee2a6b; }
    .navbar-hidden .hidden-sm > li > a:visited {
      color: black; }
  .navbar-hidden .visible-sm .dropdown button {
    margin-left: 10px;
    background-color: #0b1b46;
    border: none;
    color: #fff !important;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    margin-top: 27px; }
    .navbar-hidden .visible-sm .dropdown button:hover {
      color: #fff; }
    .navbar-hidden .visible-sm .dropdown button:active {
      color: #fff; }
  .navbar-hidden .visible-sm .dropdown-menu {
    width: 300px;
    background-color: #0b1b46;
    opacity: 0.8; }
    .navbar-hidden .visible-sm .dropdown-menu a {
      color: #fff; }
      .navbar-hidden .visible-sm .dropdown-menu a:hover {
        color: #0b1b46; }
  .navbar-hidden .visible-xs .fa-plus {
    float: right; }
  .navbar-hidden .visible-xs > li > a {
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: #96a0bd;
    margin-bottom: -10px; }
    .navbar-hidden .visible-xs > li > a:hover {
      color: #fff; }
  .navbar-hidden .navbar-right {
    margin-right: 20px; }
    .navbar-hidden .navbar-right.user {
      position: relative;
      right: 30px; }
      .navbar-hidden .navbar-right.user > li {
        color: #fff;
        height: 50px; }
      .navbar-hidden .navbar-right.user .controllerBar.hidden {
        display: none; }
      .navbar-hidden .navbar-right.user .controllerBar {
        position: absolute;
        background-color: #fff;
        width: 150px;
        height: 120px;
        top: 70px;
        right: -15px;
        border-radius: 3px; }
        .navbar-hidden .navbar-right.user .controllerBar > div {
          position: relative;
          height: 40px; }
          .navbar-hidden .navbar-right.user .controllerBar > div a {
            position: absolute;
            top: 10px;
            color: black;
            left: 10px; }
            .navbar-hidden .navbar-right.user .controllerBar > div a span {
              color: #ee2a6b;
              margin-left: 7px;
              font-size: 20px; }
            .navbar-hidden .navbar-right.user .controllerBar > div a:hover {
              color: #ee2a6b; }
    .navbar-hidden .navbar-right button {
      font-family: "Open Sans", sans-serif;
      margin-top: 20px;
      margin-left: 30px;
      border-radius: 23px;
      padding: 5px 20px;
      border: 2px solid #ee2a6b;
      color: #ee2a6b;
      background: transparent; }
      .navbar-hidden .navbar-right button:hover {
        background-color: #ee2a6b;
        color: #fff; }
    .navbar-hidden .navbar-right > li > a {
      margin-top: 10px;
      font-family: "Open Sans", sans-serif;
      color: black;
      font-size: 14px; }
      .navbar-hidden .navbar-right > li > a:hover {
        color: #ee2a6b; }
      .navbar-hidden .navbar-right > li > a:visited {
        color: black; }

@media screen and (max-width: 1200px) {
  .navbar, .navbar-hidden {
    background-color: #0b1b46;
    border: none; }
    .navbar .navbar-right.user > li > a, .navbar-hidden .navbar-right.user > li > a {
      margin-top: 0 !important;
      margin-left: 30px !important; }
    .navbar .navbar-right > li > a, .navbar-hidden .navbar-right > li > a {
      margin-top: 10px;
      font-family: 'Open Sans', sans-serif;
      color: #96a0bd;
      font-size: 14px; }
      .navbar .navbar-right > li > a:hover, .navbar-hidden .navbar-right > li > a:hover {
        color: #fff; }
    .navbar .navbar-right button, .navbar-hidden .navbar-right button {
      font-family: 'Open Sans', sans-serif;
      margin-top: 17px;
      margin-left: 10px;
      border-radius: 23px;
      padding: 5px 20px;
      border: 2px solid #ee2a6b;
      color: #fff;
      background-color: #ee2a6b;
      position: relative; } }

/*# sourceMappingURL=header.css.map */
