.PublicOrganization .OrganizationInfo h3 {
  font-family: "Open Sans",sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #3b1e1e; }
.PublicOrganization .OrganizationInfo .OrganizationFigures {
  margin-top: 30px; }
  .PublicOrganization .OrganizationInfo .OrganizationFigures .figure-item {
    margin-bottom: 10px;
    height: 60px;
    font-family: "Open Sans",sans-serif;
    font-weight: lighter; }
    .PublicOrganization .OrganizationInfo .OrganizationFigures .figure-item .figure-icon {
      font-size: 25px;
      color: #8b9ae6; }
      .PublicOrganization .OrganizationInfo .OrganizationFigures .figure-item .figure-icon:hover {
        color: #ee2a6b; }
    .PublicOrganization .OrganizationInfo .OrganizationFigures .figure-item .figure-body h5 {
      font-size: 14px;
      font-family: "Open Sans",sans-serif;
      font-weight: lighter;
      margin-bottom: 2px; }
    .PublicOrganization .OrganizationInfo .OrganizationFigures .figure-item .figure-body div {
      color: #888;
      font-size: 14px; }
.PublicOrganization .OrganizationInfo .OrganizationDetail p {
  font-size: 14px;
  font-family: "Open Sans",sans-serif;
  font-weight: lighter;
  color: #888; }
.PublicOrganization .CompanyInfoCard .job-single-head {
  margin-top: 20px; }

/*# sourceMappingURL=organization.css.map */
