.pf-title {
  float: left;
  width: 100%;
  margin-top: 30px;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  color: #202020;
  margin-bottom: 13px;
}
.pf-field {
  float: left;
  width: 100%;
  position: relative;
  
  .search2{
    
    padding:0;
    .select{
      border: 2px solid #e8ecec;
      }
    .search-chosen{
      border: 2px solid #e8ecec;
      border-radius: 8px;
      position:absolute;
      background: #fff;
      border-radius: 8px;
      width: 200px;
      height: 90px;
      left: 0px;
      margin-top: 10px;
      z-index:99;
      .item{
        position: relative;
        right: 5px;
        top: 15px;
        height: 20px;
        color: #888888;
        font-family: "Open Sans", sans-serif;
        text-shadow: 0px 0px #888888;
        font-size: 13px;
        transition-property: transform;
        transition-duration: 1s;
        width: 200px;
        left:20px;
       
        &:hover{
          transform:translateX(15px);
          color: #ee2a6b;
          cursor: pointer;
        }
      }
      
    }
  }
  &>input{
    float: left;
    width: 80%;
    border: 2px solid #e8ecec;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    padding: 12px 45px 12px 15px;
    background: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    color: #101010;
    line-height: 24px;
  }
  &>i {
  position: absolute;
  right: 20px;
  top: 0;
  font-size: 20px;
  color: #8b91dd;
  line-height: 48px;
}
&>textarea{
  float: left;
  width: 100%;
  border: 2px solid #e8ecec;
  
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;

  padding: 12px 45px 12px 15px;
  background: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #101010;
  line-height: 24px;
}
&>textarea {
  color: #888888;
  padding: 30px 30px;
  height: 200px;
}
}
.sidebar{
    margin-left: 50px;
    font-family: "Open sans",sans-serif;
    .sidebar-nav{
      &>ul{
        float: left;
        width: 100%;
        margin: 0;
        
        &>li{
          float: left;
          width: 100%;
          margin: 0;
          
          &>a{
            float: left;
            width: 100%;
            font-family: "Open Sans",sans-serif;
            font-size: 14px;
            color: #888888;
            line-height: 41px;
            &:hover{
              color: #8b91dd;
              background: transparent;
            }
          }
          i {
            float: left;
            font-size: 28px;
            line-height: 41px;
            color: #babebe;
            margin-right: 5px;
            width: 35px;
            &:hover{
              color: #8b91dd;
            }
          }
          & >ul{
            float: left;
            width: 100%;
            margin: 0;
          &>li{
            float: left;
            width: 100%;
            position: relative;
            margin: 0;
            padding-left: 20px;
            border-left: 1px solid #e8ecec;
           
            & a{
              float: left;
              width: 100%;
              font-family: "Open Sans", sans-serif;
              font-size: 13px;
              color: #888888;
              padding: 3px 0;
              &:hover{
                color: black;
              }
            }
            &::before{
              position: absolute;
              left: 0;
              top: 50%;
              width: 10px;
              height: 1px;
              content: "";
              background: #e8ecec;
            }
            &:first-child:before{
              top: 0;
            }
            &:first-child > a{
              padding-top: 0;
              line-height: 2px;
              margin-bottom: 7px;
            }
            &:last-child:before{
              top: auto;
              bottom: 0;
            }
            &:last-child > a{
              padding-bottom: 0;
              line-height: 2px;
              margin-top: 7px;
            }
          }  
          
          }
        }
      }
    }
    
  }
  .Userprofile{
    float: left;
    border-left: 1px solid #edeff7;
    .tags {
      float: left;
      width: 100%;
      border: 2px solid #e8ecec;      
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      padding: 8px;
      &>.addedTag {
        float: left;
        background: #f4f5fa;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
        font-family: "Open Sans",sans-serif;
        font-size: 13px;
        padding: 7px 17px;
        margin-right: 10px;
        position: relative;
          &> span {
            position: absolute;
            right: -6px;
            top: -5px;
            width: 16px;
            height: 16px;
            font-style: normal;
            background: #fb236a;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            color: #ffffff;
            text-align: center;
            line-height: 13px;
            font-size: 10px;
            font-family: "Open Sans", sans-serif;
            cursor: pointer;
        }
    }

    }
    h3{
      float: left;
      width: 100%;
      margin-top: 40px;
      border-bottom: 1px solid #edeff7;
      font-size: 20px;
      color: #202020;
      font-weight: bold;
      margin: 0;
      margin-top: 0px;
      padding-bottom: 20px;
      padding-left: 30px;
      margin-top: 40px;
      font-family:"Quicksand";    
    
    }
    button {
      float: left;
      background: #ffffff;
      border: 2px solid #fb236a;
      color: #202020;
      font-family: "Open Sans",sans-serif;
      font-size: 15px;
      padding: 11px 40px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      margin-top: 20px;
      
      &:hover{
        color: white;
        background:#fb236a;
      }
    }
    .upload-img-bar {
      float: left;
      width: 100%;
      display: table;
      margin-top: 40px;
      padding-left: 30px;
      & >span{
        display: table-cell;
        vertical-align: top;
        border: 2px solid #e8ecec;
        border-radius: 8px;
        position: relative;
        width: 160px;
        img{
          float: left;
          width: 100%;
        }
        i {
          position: absolute;
          right: -8px;
          top: -8px;
          width: 23px;
          height: 23px;
          background: #fb236a;
          color: #ffffff;
          font-style: normal;
          text-align: center;
          
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          border-radius: 50%;
      
          font-size: 14px;
          line-height: 21px;
          cursor: pointer;
        }
      }
     }
     .upload-info {
      display: table-cell;
      vertical-align: bottom;
      padding-left: 30px;
      form {
        float: left;
        font-family: "Open Sans", sans-serif;
        font-size: 15px;
        color: #8b91dd;
        border: 2px solid #8b91dd;
        
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        border-radius: 20px;
    
        padding: 5px 20px;
        &:hover{
          background-color:#8b91dd;
          color: #fff;
        }
        .inputfile {
         
          opacity: 0;
          overflow: hidden;
          position: absolute;
          
        }
        .inputfile + label {
          font-weight:300;
          display: inline-block;
          &:hover{
            cursor:pointer;
          }
      }

      
        
      }
      &>span{
        float: left;
        width: 100%;
        font-family: "Open Sans", sans-serif;
        font-size: 14px;
        color: #888888;
        margin-top: 20px;
      }
     }
  }
  .Userprofile .Profile{
    .profile-title {
      float: left;
      width: 100%;
   
     }
    .profile-form-edit{
      float: left;
      width: 100%;
    }
    .social-edit {
      float: left;
      width: 100%;
      .pf-field {
        float: left;
        width: 100%;
        position: relative;
        &>input{
          float: left;
          width: 100%;
          border: 2px solid #e8ecec;
          
          -webkit-border-radius: 8px;
          -moz-border-radius: 8px;
          -ms-border-radius: 8px;
          -o-border-radius: 8px;
          border-radius: 8px;

          padding: 12px 45px 12px 15px;
          background: #ffffff;
          font-family: "Open Sans",sans-serif;
          font-size: 13px;
          color: #101010;
          line-height: 24px;
        }
        &>i {
        position: absolute;
        right: 20px;
        top: 0;
        font-size: 20px;
        color: #8b91dd;
        line-height: 48px;
      }
    }
   
     }
  .contact-edit{
    float: left;
    width: 100%;
    margin-bottom: 60px;
 
    &.srch-lctn{
      float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #8b91dd;
    border: 2px solid #8b91dd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    padding: 11px 26px;
    margin-top: 30px;
    }
  }
  }

.Userprofile .CV{
 
  .sb-title{
    
      float: left;
      width: 100%;
      border-bottom: 1px solid #edeff7;
      font-size: 20px;
      color: #202020;
      font-weight: bold;
      margin: 0;
      margin-bottom: 40px;
      margin-top: 40px;
      font-family:"Quicksand";
      padding :0 ;
    
  }
}
.Userprofile .ChangePassword{
  float: left;
  width: 100%;
  
  .big-icon {
    font-size: 290px;
    color: #EFEFEF;
    text-align: center;
    width: 100%;
    float: left;
    line-height: 413px;
    margin-bottom: 80px;
  }
  form{
    float: left;
    width: 100%;
    padding-left: 30px;
    input{
      margin-bottom: 0;
    }
    button{
    float: right;
    background: #ffffff;
    border: 2px solid #fb236a;
    color: #202020;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    padding: 11px 40px;   
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-top: 30px;
    position:relative;
    right:95px;
    &:hover{
      color: #fff;
      background-color:#fb236a;
    }
    }
  }


}
.Userprofile .DeleteAccount{
  float: left;
  width: 100%;
 p{
  float: left;
  width: 100%;
  text-align: center;
  padding:0;
  margin-top: 20px;
 }

  .big-icon {
    font-size: 290px;
    color: #EFEFEF;
    text-align: center;
    width: 100%;
    float: left;
    line-height: 413px;
    margin-bottom: 80px;
  }
}
.Userprofile .RecruitmentForm{
  .Experience,.Age{
    position:relative!important;
    padding:0!important;
    
  }
  .salary{
    .widget.border{
    p{
      margin-left:0!important;
    }
    .range{
      margin-left:0!important;
    }
    }
  }
  .widget.border{
    margin-top: 20px;
    padding:0; 
    margin-bottom: 5px!important;
    top: 0 !important;
    p{
    font-size:14px !important;
    margin-left: 16px !important;
    margin-top: 20px;
    }
    .range{
      width: 387px!important;
      margin-top: 20px;  
      margin-left: 16px !important; 
    }
    .float{
      position:relative;
      top:25px;
      right: 70px;
      z-index:-9;
    }
   
  }
 
  .Requirement{
    margin: 0 !important;
  }

}