.emply-resume-list {
    float: left;
    width: 98%;
    /*height: 200px;*/
    padding: 30px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #edeff7;
    border-left: 1px solid #edeff7;
    border-right: 1px solid #edeff7;
    border-top: 1px solid #edeff7;
    position: relative;
    padding-left: 30px;
    margin-left: 10px;

}

@media only screen and (max-width: 768px) {
    .emply-resume-list {
        float: left;
        width: 100%;
        /*height: 200px;*/
        padding: 30px 0;
        padding-bottom: 10px;
        border-bottom: 1px solid #edeff7;
        border-left: 1px solid #edeff7;
        border-right: 1px solid #edeff7;
        border-top: 1px solid #edeff7;
        position: relative;
        padding-left: 10px !important;
        margin-left: 0px !important;
    
    }
    .emply-resume-thumb img {
        float: left;
        width: 100%;
    
        margin-bottom: 10px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
    
    }

    .emply-resume-thumb .view{
        width: 0%
    }

    .widget.border{
        margin-top: 5% !important;
        position: inherit !important;
        bottom: 100px !important;
        width: 80% !important;
        margin-left: 10% !important;
      }

      .emply-resume-info > span {
        float: left;
        width: 70%;
        font-size: 30%;
        color: #fb236a;
        margin-top: 2px;
    }

    .emply-resume-sec {
        float: left;
        width: 100%;
    }

    
}


@media(max-width: 500px) {
 .col-8{width: 5%}
    .emply-resume-list {
        float: left;
        width: 100%;
        /*height: 200px;*/
;
        padding-bottom: 10px;
        border-bottom: 1px solid #edeff7;
        border-left: 1px solid #edeff7;
        border-right: 1px solid #edeff7;
        border-top: 1px solid #edeff7;
        position: relative;
      padding-left: 0px !important;
        margin-left: 0px !important;
    
    }
    .emply-resume-thumb > img {
        float: left;
        width: 0%;
    
        margin-bottom: 10px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
        border-radius: 8px;
    
    }

    .emply-resume-thumb .view{
        width: 0%
    }

    .widget.border{
        margin-top: 5% !important;
        position: inherit!important;
        bottom: 100px;
        width: 80% !important;
        margin-left: 40px !important;
      }


      .widget.border .sb-title{
        
        position: 0!important;
   }

      .emply-resume-list
      .emply-resume-info > span {
        float: left;
        width: 100%;
      
        margin-top: 2px;
    }
}

.emply-resume-list:hover{
      box-shadow: 0px 0px 40px rgba(0,0,0,0.1);

    border-color: #ffffff;
}
.emply-resume-info h3 {
    float: left;
    width: 100%;
    font-family: 'Open Sans', sans-serif;;
    font-size: 16px;
    font-weight: lighter;
    color: #202020;
    margin: 0;
}
.emply-resume-info > span {
 
    width: 70%;
    font-size: 14px;
    color: #fb236a;
    margin-top: 2px;
}
.emply-resume-info > span i {
    font-style: normal;
    color: #8b91dd;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0px;
}
.emply-resume-info .location i{
    font-size: 16px;
}
.emply-resume-info .skill {
   margin-top: 0px;
}
.emply-resume-info > p {
    float: left;
    width: 100%;
    margin: 0;
   
    margin-top: 0px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    line-height: 28px;
}
.emply-resume-info > p i {
    float: none;
    line-height: 13px;
    position: relative;
    top: 2px;
    margin-right: 3px;
    font-size: 17px;
    color: #999999;
}
.emply-resume-sec {
    float: left;
    width: 100%;
}
.emply-resume-sec > h3 {
    float: left;
    width: 100%;
    margin-top: 40px;
    border-bottom: 1px solid #edeff7;
    font-size: 20px;
    color: #202020;
    font-weight: bold;
    margin: 0;
    margin-top: 0px;
    margin-top: 0px;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-top: 40px;
}

.emply-resume-thumb img {
    float: left;
    width: 100%;

    margin-bottom: 10px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

}
.emply-resume-thumb .view{
    text-align: center;
    font-size: 16px;
    margin-bottom: 0px;
}

.job-is {
    display: table-cell;
    vertical-align: middle;
    font-family: "Open Sans",sans-serif;
    font-size: 12px;
   
    float: right;
    padding: 7px 0;
    margin-bottom: 0px;
   
    border-radius: 20px;

    width: 108px;
    margin: 9px 0;
    text-align: center;
}
.job-is.ft,
.job-list-modern .job-is.ft{
    color: #8b91dd;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top:5px;
}
.emply-resume-info .job-is.ft:hover{
 border: 1px solid;
 border-color:#8b91dd;
}
.emply-resume-info .job-is.tp:hover{
 border: 1px solid;
 border-color:#26ae61;
}
.emply-resume-info .job-is.fl:hover{
 border: 1px solid;
 border-color:#fb236a;
}
.job-is.pt,
.job-list-modern .job-is.pt{
    color: #7dc246;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top:5px;
    border: 1px red solid;
}
.job-is.fl,
.job-list-modern .job-is.fl{
    color: #fb236a;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top:5px;
}
.job-is.tp,
.job-list-modern .job-is.tp{
    color: #26ae61;
     border: none;
    margin-bottom: 0px;
    padding-bottom: 5px;
    padding-top:5px;
}
.skill{
  font-size: 14px;
  margin-left: 30px;
}

.skill a{
 
  color: #8b91dd;
  font-size: 15px;
}
.emply-resume-sec .skill-item{
    color: #868bc7;
    border: 1px #868bc7 solid;
    border-radius: 8px;
    margin-left: 5px;
     margin-right: 5px;
     padding: 3px;
}
.emply-resume-sec .skill-item:hover{
    background-color:#868bc7;
    color: white;
}
.widget.border {
    border: none;
}
.widget.border{
  
  position: relative;
  bottom: 100px;
  margin-top: 5%;
}

.widget.border .sb-title{
     font-family: "Open Sans",sans-serif;
      font-size: 19px;
      position: relative;
      font-weight: lighter;
      left: 5%;
      margin-bottom: 10px;
}
.widget .range_slider .float{
   font-family: "Open Sans",sans-serif;
     margin-top: 10px;
     position: relative;
     right: 35px;
}


.skillfix{
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 15px;
}