.CandidateList{
	width: 100%;
    height: 600px;
}
.CandidateList .carousel-caption .cv{
   background-color: #fff;
   width:300px;
   row: 500px;
}




@media screen and (max-width: 481px) {
    .candidateCV {

	   padding-right: 30px
	}
    
   }

