
.extra-job-info {
      float: left;
      width: calc(100% - 30px);
      margin-top: 30px;
  }
  .extra-job-info > span {
      float: left;
      width: 100%;
      border: 2px solid #e8ecec;
      
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
  
      padding: 17px 20px;
      margin-bottom: 20px;
      font-family: Open Sans;
      font-size: 14px;
      color: #888888;
  }
  .extra-job-info > span i {
      float: left;
      font-size: 30px;
      color: #8b91dd;
      width: 30px;
      margin-right: 12px;
  }
  .extra-job-info > span strong {
      font-family: Open Sans;
      font-size: 14px;
      font-weight: normal;
      color: #202020;
      line-height: 28px;
      display: inline-block;
      margin-right: 7px;
  }



.job-single-sec.style3 .share-bar {
      border: none;
      padding: 0;
  }
  .job-single-sec .extra-job-info {
      border: 2px solid #e8ecec;
      padding: 20px 30px;
      
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
  
      width: 100% !important;
  
  }
  .job-single-sec .extra-job-info > span {
      float: left;
      width: 33.334%;
      padding: 0;
      border: none;
      margin: 0;
  }



.manage-jobs-sec {
      float: left;
      width: 100%;
  }
  .manage-jobs-sec .extra-job-info {
      border: 2px solid #e8ecec;
      padding: 20px 30px;
      margin-left: 30px;
      
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
  
  }
  .manage-jobs-sec .extra-job-info > span {
      float: left;
      width: 32.334%;
      padding: 0;
      border: none;
      margin: 0;
  }
  .manage-jobs-sec > table {
      float: left;
      width: calc(100% - 30px);
      margin-top: 50px;
      margin-bottom: 60px;
      margin-left: 30px
  }
  .manage-jobs-sec > table thead tr td {
      font-size: 15px;
      font-weight: bold;
      color: #fb236a;
      padding-bottom: 14px;
  }
  .manage-jobs-sec > table thead {
      border-bottom: 1px solid #e8ecec;
  }


.table-list-title > h3 {
      font-family: Open Sans;
      font-size: 14px;
      color: #202020;
      margin: 0;
      display: table;
  }
  .table-list-title > span {
      font-size: 13px;
      color: #888888;
      float: left;
      margin-top: 0px;
      line-height: 10px;
      margin-top: 8px;
      display: table;
  }
  .table-list-title > span i {
      float: left;
      font-size: 15px;
      color: #999999;
      margin-right: 5px;
      line-height: 11px;
  }


.table-list-title > i {
      font-family: Open Sans;
      font-size: 14px;
      color: #8b91dd;
      font-style: normal;
      margin-bottom: 1px;
      float: left;
  }


.table-list-title h3 a:hover {
      color: #fb236a;
  }


  .applied-field {
      float: left;
      font-size: 13px;
      color: #888888;
  }


  .status.active {
      color: #8b91dd !important;
  }


.action_job {
    margin: 0;
    text-align: center;
}
.action_job > li {
    float: left;
    margin: 0;
    position: relative;
}
.action_job > li > a {
    float: left;
    font-size: 16px;
    color: #9c9c9c;
    padding: 0 6px;
}
.action_job > li span {
    position: absolute;
    left: 50%;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    background: #0f36a5;
    color: #ffffff;
    width: 80px;
    font-size: 12px;
    padding: 5px 0;
    
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;

    margin-left: -40px;
    margin-bottom: 9px;
}
.action_job > li:hover span {
    opacity: 1;
    visibility: visible;
}
.action_job > li span::before {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 10px;
    height: 10px;
    content: "";
    background: #0f36a5;
    margin-left: -5px;
    margin-bottom: -4px;
    
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);

    
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;

}



.manage-jobs-sec > table tbody td > span {
      float: left;
      display: table;
      font-size: 13px;
      color: #888888;
  }
  .manage-jobs-sec > table tbody td {
      vertical-align: middle;
      padding: 29px 0;
      border-bottom: 1px solid #e8ecec;
  }