.pf-title {
  float: left;
  width: 100%;
  margin-top: 30px;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  color: #202020;
  margin-bottom: 13px; }

.pf-field {
  float: left;
  width: 100%;
  position: relative; }
  .pf-field .search2 {
    padding: 0; }
    .pf-field .search2 .select {
      border: 2px solid #e8ecec; }
    .pf-field .search2 .search-chosen {
      border: 2px solid #e8ecec;
      border-radius: 8px;
      position: absolute;
      background: #fff;
      border-radius: 8px;
      width: 200px;
      height: 90px;
      left: 0px;
      margin-top: 10px;
      z-index: 99; }
      .pf-field .search2 .search-chosen .item {
        position: relative;
        right: 5px;
        top: 15px;
        height: 20px;
        color: #888888;
        font-family: "Open Sans", sans-serif;
        text-shadow: 0px 0px #888888;
        font-size: 13px;
        transition-property: transform;
        transition-duration: 1s;
        width: 200px;
        left: 20px; }
        .pf-field .search2 .search-chosen .item:hover {
          transform: translateX(15px);
          color: #ee2a6b;
          cursor: pointer; }
  .pf-field > input {
    float: left;
    width: 80%;
    border: 2px solid #e8ecec;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 12px 45px 12px 15px;
    background: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 13px;
    color: #101010;
    line-height: 24px; }
  .pf-field > i {
    position: absolute;
    right: 20px;
    top: 0;
    font-size: 20px;
    color: #8b91dd;
    line-height: 48px; }
  .pf-field > textarea {
    float: left;
    width: 100%;
    border: 2px solid #e8ecec;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 12px 45px 12px 15px;
    background: #ffffff;
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    color: #101010;
    line-height: 24px; }
  .pf-field > textarea {
    color: #888888;
    padding: 30px 30px;
    height: 200px; }

.sidebar {
  margin-left: 50px;
  font-family: "Open sans",sans-serif; }
  .sidebar .sidebar-nav > ul {
    float: left;
    width: 100%;
    margin: 0; }
    .sidebar .sidebar-nav > ul > li {
      float: left;
      width: 100%;
      margin: 0; }
      .sidebar .sidebar-nav > ul > li > a {
        float: left;
        width: 100%;
        font-family: "Open Sans",sans-serif;
        font-size: 14px;
        color: #888888;
        line-height: 41px; }
        .sidebar .sidebar-nav > ul > li > a:hover {
          color: #8b91dd !important;
          background: transparent; }
      .sidebar .sidebar-nav > ul > li i {
        float: left;
        font-size: 28px;
        line-height: 41px;
        color: #babebe;
        margin-right: 5px;
        width: 35px; }
        .sidebar .sidebar-nav > ul > li i:hover {
          color: #8b91dd; }
      .sidebar .sidebar-nav > ul > li > ul {
        float: left;
        width: 100%;
        margin: 0; }
        .sidebar .sidebar-nav > ul > li > ul > li {
          float: left;
          width: 100%;
          position: relative;
          margin: 0;
          padding-left: 20px;
          border-left: 1px solid #e8ecec; }
          .sidebar .sidebar-nav > ul > li > ul > li a {
            float: left;
            width: 100%;
            font-family: "Open Sans", sans-serif;
            font-size: 13px;
            color: #888888;
            padding: 3px 0; }
            .sidebar .sidebar-nav > ul > li > ul > li a:hover {
              color: black; }
          .sidebar .sidebar-nav > ul > li > ul > li::before {
            position: absolute;
            left: 0;
            top: 50%;
            width: 10px;
            height: 1px;
            content: "";
            background: #e8ecec; }
          .sidebar .sidebar-nav > ul > li > ul > li:first-child:before {
            top: 0; }
          .sidebar .sidebar-nav > ul > li > ul > li:first-child > a {
            padding-top: 0;
            line-height: 2px;
            margin-bottom: 7px; }
          .sidebar .sidebar-nav > ul > li > ul > li:last-child:before {
            top: auto;
            bottom: 0; }
          .sidebar .sidebar-nav > ul > li > ul > li:last-child > a {
            padding-bottom: 0;
            line-height: 2px;
            margin-top: 7px; }

.Userprofile {
  float: left;
  border-left: 1px solid #edeff7; }
  .Userprofile .tags {
    float: left;
    width: 100%;
    border: 2px solid #e8ecec;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding: 8px; }
    .Userprofile .tags > .addedTag {
      float: left;
      background: #f4f5fa;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      font-family: "Open Sans",sans-serif;
      font-size: 13px;
      padding: 7px 17px;
      margin-right: 10px;
      position: relative; }
      .Userprofile .tags > .addedTag > span {
        position: absolute;
        right: -6px;
        top: -5px;
        width: 16px;
        height: 16px;
        font-style: normal;
        background: #fb236a;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        color: #ffffff;
        text-align: center;
        line-height: 13px;
        font-size: 10px;
        font-family: "Open Sans", sans-serif;
        cursor: pointer; }
  .Userprofile h3 {
    float: left;
    width: 100%;
    margin-top: 40px;
    border-bottom: 1px solid #edeff7;
    font-size: 20px;
    color: #202020;
    font-weight: bold;
    margin: 0;
    margin-top: 0px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin-top: 40px;
    font-family: "Quicksand"; }
  .Userprofile button {
    float: left;
    background: #ffffff;
    border: 2px solid #fb236a;
    color: #202020;
    font-family: "Open Sans",sans-serif;
    font-size: 15px;
    padding: 11px 40px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    margin-top: 20px; }
    .Userprofile button:hover {
      color: white;
      background: #fb236a; }
  .Userprofile .upload-img-bar {
    float: left;
    width: 100%;
    display: table;
    margin-top: 40px;
    padding-left: 30px; }
    .Userprofile .upload-img-bar > span {
      display: table-cell;
      vertical-align: top;
      border: 2px solid #e8ecec;
      border-radius: 8px;
      position: relative;
      width: 160px; }
      .Userprofile .upload-img-bar > span img {
        float: left;
        width: 100%; }
      .Userprofile .upload-img-bar > span i {
        position: absolute;
        right: -8px;
        top: -8px;
        width: 23px;
        height: 23px;
        background: #fb236a;
        color: #ffffff;
        font-style: normal;
        text-align: center;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        font-size: 14px;
        line-height: 21px;
        cursor: pointer; }
  .Userprofile .upload-info {
    display: table-cell;
    vertical-align: bottom;
    padding-left: 30px; }
    .Userprofile .upload-info form {
      float: left;
      font-family: "Open Sans", sans-serif;
      font-size: 15px;
      color: #8b91dd;
      border: 2px solid #8b91dd;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      border-radius: 20px;
      padding: 5px 20px; }
      .Userprofile .upload-info form:hover {
        background-color: #8b91dd;
        color: #fff; }
      .Userprofile .upload-info form .inputfile {
        opacity: 0;
        overflow: hidden;
        position: absolute; }
      .Userprofile .upload-info form .inputfile + label {
        font-weight: 300;
        display: inline-block; }
        .Userprofile .upload-info form .inputfile + label:hover {
          cursor: pointer; }
    .Userprofile .upload-info > span {
      float: left;
      width: 100%;
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      color: #888888;
      margin-top: 20px; }

.Userprofile .Profile .profile-title {
  float: left;
  width: 100%; }
.Userprofile .Profile .profile-form-edit {
  float: left;
  width: 100%; }
.Userprofile .Profile .social-edit {
  float: left;
  width: 100%; }
  .Userprofile .Profile .social-edit .pf-field {
    float: left;
    width: 100%;
    position: relative; }
    .Userprofile .Profile .social-edit .pf-field > input {
      float: left;
      width: 100%;
      border: 2px solid #e8ecec;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      padding: 12px 45px 12px 15px;
      background: #ffffff;
      font-family: "Open Sans",sans-serif;
      font-size: 13px;
      color: #101010;
      line-height: 24px; }
    .Userprofile .Profile .social-edit .pf-field > i {
      position: absolute;
      right: 20px;
      top: 0;
      font-size: 20px;
      color: #8b91dd;
      line-height: 48px; }
.Userprofile .Profile .contact-edit {
  float: left;
  width: 100%;
  margin-bottom: 60px; }
  .Userprofile .Profile .contact-edit.srch-lctn {
    float: left;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #8b91dd;
    border: 2px solid #8b91dd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    padding: 11px 26px;
    margin-top: 30px; }

.Userprofile .CV .sb-title {
  float: left;
  width: 100%;
  border-bottom: 1px solid #edeff7;
  font-size: 14px;
  color: #202020;
  margin: 0;
  margin-bottom: 40px;
  margin-top: 40px;
  font-family: "Quicksand";
  padding: 0; }

.Userprofile .ChangePassword {
  float: left;
  width: 100%; }
  .Userprofile .ChangePassword .big-icon {
    font-size: 290px;
    color: #EFEFEF;
    text-align: center;
    width: 100%;
    float: left;
    line-height: 413px;
    margin-bottom: 80px; }
  .Userprofile .ChangePassword form {
    float: left;
    width: 100%;
    padding-left: 30px; }
    .Userprofile .ChangePassword form input {
      margin-bottom: 0; }
    .Userprofile .ChangePassword form button {
      float: right;
      background: #ffffff;
      border: 2px solid #fb236a;
      color: #202020;
      font-family: "Open Sans",sans-serif;
      font-size: 15px;
      padding: 11px 40px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
      border-radius: 8px;
      margin-top: 30px;
      position: relative;
      right: 95px; }
      .Userprofile .ChangePassword form button:hover {
        color: #fff;
        background-color: #fb236a; }

.Userprofile .DeleteAccount {
  float: left;
  width: 100%; }
  .Userprofile .DeleteAccount p {
    float: left;
    width: 100%;
    text-align: center;
    padding: 0;
    margin-top: 20px; }
  .Userprofile .DeleteAccount .big-icon {
    font-size: 290px;
    color: #EFEFEF;
    text-align: center;
    width: 100%;
    float: left;
    line-height: 413px;
    margin-bottom: 80px; }

.Userprofile .RecruitmentForm .Experience, .Userprofile .RecruitmentForm .Age {
  position: relative !important;
  padding: 0 !important; }
.Userprofile .RecruitmentForm .salary .widget.border p {
  margin-left: 0 !important; }
.Userprofile .RecruitmentForm .salary .widget.border .range {
  margin-left: 0 !important; }
.Userprofile .RecruitmentForm .widget.border {
  margin-top: 20px;
  padding: 0;
  margin-bottom: 5px !important;
  top: 0 !important; }
  .Userprofile .RecruitmentForm .widget.border p {
    font-size: 14px !important;
    margin-left: 16px !important;
    margin-top: 20px; }
  .Userprofile .RecruitmentForm .widget.border .range {
    width: 387px !important;
    margin-top: 20px;
    margin-left: 16px !important; }
  .Userprofile .RecruitmentForm .widget.border .float {
    position: relative;
    top: 25px;
    right: 70px;
    z-index: -9; }
.Userprofile .RecruitmentForm .Requirement {
  margin: 0 !important; }

/*# sourceMappingURL=user.css.map */
